<nav class="dark:bg-gray-800 dark:text-gray-100">
    <div class="px-20 flex justify-between py-2 shadow-sm mb-1">
        <div class="">
            <a class="font-semibold text-lg me-4">R&M</a>
            <a class="mx-4">Crear item</a>
            <a class="mx-4">Ver todos</a>
        </div>
        
        <div class="">
            <img class="rounded-full border-2 border-slate-500 h-7 object-cover" src="https://www.gstatic.com/identity/boq/profilepicturepicker/photo_silhouette_e02a5f5deb3ffc173119a01bc9575490.png" alt="Foto de perfíl">
        </div>
    </div>
</nav>